@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
.merchant{
  margin: 0;
  background: black;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.mer_card {
  background:black;
  position: relative;
  display: block;
  width: 800px;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}

.mer_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}

.mer_card .mer_info {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}

.mer_card .mer_info .mer_header {
  position: relative;
  padding: 25px;
  height: 40%;
}

.mer_card .mer_info .mer_header h1 {
  color: #fff;
  font-weight: 400;
}

.mer_card .mer_info .mer_header h4 {
  color: #9ac7fa;
  font-weight: 400;
}

.mer_card .mer_info .mer_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.mer_card .mer_info .mer_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}

.mer_card .mer_info .mer_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.mer_card .mer_info .mer_desc {
  padding: 25px;
  height: 50%;
}

.mer_card .mer_info .mer_desc .text {
  color: #cfd6e1;
}

.mer_card .mer_info .mer_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}

.mer_card .mer_info .mer_social ul {
  list-style: none;
  padding: 0;
}

.mer_card .mer_info .mer_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}

.mer_card .mer_info .mer_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}

.mer_card .mer_info .mer_social ul li i {
  font-size: 19px;
  cursor: pointer;
}

.mer_card .blur_mer {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .mer_card .mer_header {
    width: 62%;
  }

  .mer_card .mer_desc {
    width: 50%;
  }

  .mer_card .mer_info {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .mer_card .blur_mer {
    width: 60%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {
  .mer_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .mer_card .blur_mer {
    width: 100%;
    background-position: 50% 50% !important;
  }

  .mer_card .mer_header {
    width: 100%;
    margin-top: 85px;
  }

  .mer_card .mer_desc {
    width: 100%;
  }

  .mer_card .mer_info {
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}

#mer {
  box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
  margin-bottom: 200px;
}

#mer:hover {
  box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
}

.mer_back {
  background: url("https://navodayatrendz.in/wp-content/uploads/2023/08/Navodayan-bottle-11.jpg");
}
